.My-Posts {
    width:80%;
    margin:auto;
    h1 {
        font-size:26px;
        font-weight:400;
        margin-top:30px;
    }
    .post {
        margin-top:20px;
        text-align: left;
        border:1px solid #ddd;
        width:60%;
        padding:10px;
        border-radius:5px;
    }
    h3{
        font-weight:600;
        &:first-letter{
            text-transform: uppercase;
        }
        span{
            float: right;
            color: darkred;
            display: none;
            cursor: pointer;
            user-select: none;
        }
        &:hover span{
            display: block;
        }
    }

}